.top_titile {
    border-bottom: 1px solid #E0E0E0;
}

.contain_chart_c {
    min-width: 1290px;
}

.progressCanvas {
    width: 1290px;
    margin-top: 32px;
}

.progressCanvas>h1 {
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 9px;
    color: black;
}

.progressCanvas>h1>i {
    font-style: normal;
    margin-left: 14px;
    font-weight: normal;
}

.progressCanvas>div {
    width: 1290px;
    height: 52px;
    position: relative;
}

.timeContorlArea {
    position: absolute;
    z-index: 10;
    top: 0px;
    left: 0px;
    background:rgba(255,199,186,0.2);
    width: 40px;
    height: 52px;
    cursor: move;
}

.timeContorl {
    position: absolute;
    top: 0px;
    background: #148579;
    width: 1px;
    height: 100%;
    user-select:none;
}

.timeContorlR, .timeContorlR2{
    right: 0px;
}

.timeContorlL, .timeContorlL2{
    left: 0px;
}

.timeContorl>span{
    display: block;
    width: 24px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    background: #148579;
    top: -10px;
    font-size: 8px;
    text-align: center;
    color: white;
}

.timeContorlR>span, .timeContorlL2>span {
    border-radius: 0 2px 2px 0;
    left: 0px;
}

.timeContorlL>span, .timeContorlR2>span{
    border-radius: 2px 0 0 2px;
    right: 0px;
}

.legend {
    margin-top: 40px;
    width: 1290px;
    height: 15px;
    position: relative;
}

.legend>div {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    color: #4A4A4A;
    margin-left: 20px;
}

.legend>.legend-settings{
    color: #00A0D1;
    position: absolute;
    top: 0px;
    right: 0px;
}

.legend>div>i {
    display: inline-block;
    width: 11px;
    height: 3px;
    position: relative;
    margin-right: 6px;
    top: -2px;
}

.legend>div>.legend-orange{
    background: #FF7A37;
}
.legend>div>.legend-pink{
    background: #D524E5;
}
.legend>div>.legend-darkblue{
    background: #0B64BF;
}
.legend>div>.legend-blue{
    background: #00B8F1;
}
.legend>div>.legend-dot{
    top: 0px;
    width: 15px;
    border-top: 1px dashed #9B9B9B;
}

.legend>div:first-child {
    margin-left: 135px;
}

.main-chart {
    width: 1290px;
    flex-direction: row;
    margin-top: 5px;
    display: flex;
}

.main-chart-l {
    position: relative;
    width: 771px;
    flex: none;
}

.main-chart-l>div{
    width: 100%;
    display: block;
}

.main-chart-r {
    display: flex;
    width: 525px;
    flex: 1;
}

.boardAxis {
    margin-bottom: 15px;
}